<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Encryption-Decryption</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- Start Container -->
    <div class="container cf">

        <!-- Start Action -->
        <div class="action">

            <!-- Start Action Bar -->
            <div class="action-bar">
                <a href="/enc" class="encryption">
                    <h1>encyption</h1>
                </a>
                <a href="/dec" class="decryption decryption-active">
                    <h1>decryption</h1>
                </a>
            </div>
            <!-- End Action Bar -->

            <!-- Start Input Form -->
            <div class="input-form">
                <form action="/decrypt" method="POST" enctype="multipart/form-data">
                    <input type="file" class="input-file" name="image" accept="image/*" required>
                    <input type="password" name="key" class="input-key" placeholder="Enter the key" required>
                    <button type="submit" class="encrypt-btn">Decrypt</button>
                </form>
            </div>
            <!-- End Input Form -->

            <!-- Start Evaluation Result -->
            <div class="evaluation-result">
                <h3 class="mse-score">MSE Score:</h3>
                {% if encrypt1 %}
                    <h3 class="score1">{{ mse_value }}</h3>
                {% elif decrypt1 %}
                    <h3 class="score1">{{ mse_value }}</h3>
                {% else %}
                    <h3 class="score1">-</h3>
                {% endif %}
            
                <h3 class="psnr-score">PSNR Score:</h3>
                {% if encrypt1 %}
                    <h3 class="score2">{{ psnr_value }}</h3>
                {% elif decrypt1 %}
                    <h3 class="score2">{{ psnr_value }}</h3>
                {% else %}
                    <h3 class="score2">-</h3>
                {% endif %}
            
                <h3 class="npcr-score">NPCR Score (%):</h3>
                {% if encrypt1 %}
                    <h3 class="score3">{{ npcr_value }}</h3>
                {% elif decrypt1 %}
                    <h3 class="score3">{{ npcr_value }}</h3>
                {% else %}
                    <h3 class="score3">-</h3>
                {% endif %}
            
                <h3 class="uaci-score">UACI Score (%):</h3>
                {% if encrypt1 %}
                    <h3 class="score4">{{ uaci_value }}</h3>
                {% elif decrypt1 %}
                    <h3 class="score4">{{ uaci_value }}</h3>
                {% else %}
                    <h3 class="score4">-</h3>
                {% endif %}


                <h3 class="nc-score">NC Score (%):</h3>
                {% if encrypt1 %}
                    <h3 class="score6">{{ nc_value }}</h3>
                {% elif decrypt1 %}
                    <h3 class="score6">{{ nc_value }}</h3>
                {% else %}
                    <h3 class="score6">-</h3>
                {% endif %}

                <h3 class="original_entropy-score">Original Entropy Score (%):</h3>
                {% if encrypt1 %}
                    <h3 class="score7">{{ original_entropy_value}}</h3>
                {% elif decrypt1 %}
                    <h3 class="score7">{{ original_entropy_value }}</h3>
                {% else %}
                    <h3 class="score7">-</h3>
                {% endif %}

                <h3 class="crypted_entropy-score">Crypted Entropy (%):</h3>
                {% if encrypt1 %}
                    <h3 class="score8">{{ crypted_entropy_value }}</h3>
                {% elif decrypt1 %}
                    <h3 class="score8">{{ crypted_entropy_value }}</h3>
                {% else %}
                    <h3 class="score8">-</h3>
                {% endif %}

                <h3 class="encryption_quality-score">Encryption Quality (%):</h3>
                {% if encrypt1 %}
                    <h3 class="score9">{{ encryption_quality_value }}</h3>
                {% elif decrypt1 %}
                    <h3 class="score9">{{ encryption_quality_value }}</h3>
                {% else %}
                    <h3 class="score9">-</h3>
                {% endif %}

                <h3 class="histogram-score">Histogram RGB:</h3>
                {% if c_histogram %}
                    <div class="score10">
                        <img src="../static/image/rgb_histogram.png" alt="RGB Histogram" class="histogram-image">
                    </div>
                {% else %}
                    <h3 class="score10">-</h3>
                {% endif %}           
            </div>            
            <!-- End Evaluation Result -->

        </div>
        <!-- End Action -->

        <!-- Start Display -->
        <div class="display">

            <!-- Start Header -->
            <div class="header">
                <h1 class="title">image result</h1>
            </div>
            <!-- End Header -->

            <!-- Start Image Result -->
            <div class="image-result">
                <!-- Code to show the en/decrypted image here -->
                <!-- <img src="image.jpg" alt=""> -->
                <div class="image-show">
                    {% if encrypt1 %}
                        <img src="{{ url_for('static', filename=encrypt1) }}" alt="Encrypted Image">
                    {% elif decrypt1 %}
                        <img src="{{ url_for('static', filename=decrypt1) }}" alt="Decrypted Image">
                    {% else %}
                        <p>No Image Available</p>
                    {% endif %}
                </div>
            </div>
            <!-- End Image Result -->

        </div>
        <!-- End Display -->
    </div>
    <!-- End Container -->

</body>
</html>