<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eva| A11.2022.14283</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container cf">
        <div class="action">
            <div class="action-option">
                <a href="/enc" class="enc">Encryption</a>
                <a href="/dec" class="dec dec-active">Decryption</a>
            </div>
            <div class="encrypt-container">
                <form action="/decrypt" method="POST" enctype="multipart/form-data">
                    <input type="file" class="choose-file" name="image" accept="image/*" required>
                    <input type="password" name="key" class="key-form" placeholder="Enter the key" required>
                    <button type="submit" class="decryp">Decrypt</button>
                </form>
            </div>
            <div class="evaluation-text">
                {% if encrypt1 %}
                    <p>MSE Score: {{ mse_value }}</p>
                    <p>PSNR Score: {{ psnr_value }}</p>
                    <p>NPCR Score: {{ npcr_value }}%</p>
                    <p>UACI Score: {{ uaci_value }}%</p>
                    <p>NC Score: {{ nc_value }}%</p>
                    <p>Original Entropy: {{ original_entropy_value }}%</p>
                    <p>Crypted Entropy: {{ crypted_entropy_value }}%</p>
                    <p>Histogram RBG: {{ histogram }}%</p>
                {% elif decrypt1 %}
                    <p>MSE Score: {{ mse_value }}</p>
                    <p>PSNR Score: {{ psnr_value }}</p>
                    <p>NPCR Score: {{ npcr_value }}%</p>
                    <p>UACI Score: {{ uaci_value }}%</p>
                    <p>NC Score: {{ nc_value }}%</p>
                    <p>Original Entropy: {{ original_entropy_value }}%</p>
                    <p>Crypted Entropy: {{ crypted_entropy_value }}%</p>
                    <p>Encrypt Quality: {{ encryption_quality_value }}%</p>
                    <p>Histogram RBG: {{ c_histogram }}%</p>
                {% else %}
                    <p>MSE Score: ???</p>
                    <p>PSNR Score: ???</p>
                    <p>NPCR Score: ???</p>
                    <p>UACI Score: ???</p>
                    <p>NC Score: ???</p>
                    <p>PSNR Score: ???</p>
                    <p>Original Entropy: ???</p>
                    <p>Crypted Entropy: ???</p>
                    <p>Encrypt Quality: ???</p>
                    <p>Histogram RBG: ???</p>

                {% endif %}
            </div>            
        </div>
        <div class="img-area">
            <div class="img-title">
                <div class="title-text"><h1>Image Result</h1></div>
            </div>
            <div class="img-wrap">
                <div class="img-show">
                    {% if encrypt1 %}
                        <img src="{{ url_for('static', filename=encrypt1) }}" alt="Encrypted Image">
                    {% elif decrypt1 %}
                        <img src="{{ url_for('static', filename=decrypt1) }}" alt="Decrypted Image">
                    {% else %}
                        <p>No encrypted image available</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
